
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Servicio" } do %>
   
  <div role="main" class="ui-content">   

    <table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
       <tr>
      <th>Empresa:</th>
      <td><%= @service.company.company_name %></td>
      </tr>
      <tr>
      <th>Descripción:</th>
      <td><%= @service.description %></td>
      </tr>
      <tr>
      <th>Unidad de Facturación:</th>
      <td><%= @service.billing_unit.description %></td>
     </tr>
      <tr>
      <th>Tipo de Vehículo:</th>
      <td> <%= @service.vehicle_type.description %>
      <% if @service.couple_type %>
	    , <%= @service.couple_type.description %> 
      <% end %>
      </td>
     </tr>
    </table>
     
    <div class="links_form"><%= link_to 'Salir', services_path, {"data-ajax"=>"false"}%> </div>  

  </div> <!-- /content --> 
<% end %>



