  
<%= form_for @m_shipping_request do |s| %>
 <% if @m_shipping_request.errors.any? %>
   <div id="error_explanation" class="form_errors">
    <h2> <%= t :error_header %> </h2>    <ul>
    <% @m_shipping_request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  
  <tr>
    <th> Nombre:</th>
    <td> <%= s.text_field :name %>  
  </td>
  </tr>
  
  <tr>
    <th> Servicio:</th>
    <td> <%= s.collection_select :service_id, Service.all, :id, :description %>  
  </td>
  </tr>
  
  <tr>
    <th> Recorrido:</th>
    <td> <%= s.collection_select :trip_id, Trip.all, :id, :description %>   </td>
  </tr>

  <tr>
    <th> Cliente:</th>	
	<td> <% if @m_shipping_request.customer then
               @cust_name = @m_shipping_request.customer.name
             else
                @cust_name = ""
              end %>
        <%= text_field_tag :customer_select, @cust_name %> 
        <%= s.hidden_field :customer_id %>
    </td>	
  </tr>
  
   
  <tr>
    <th>Viaje Unico:</th>
    <td> <%= s.select :simple_shipment, [['Si', 1], ['No', 0]] %>  </td>
  </tr>
  
  <tr>
    <th> Observaciones:</th>
    <td> <%= s.text_area :details %></td>
  </tr>
  
  <tr><td colspan=2 class="acciones_form">
  <%= s.submit "Guardar" %>
  </td>
  </tr>
  </table>

  
<% end %>
 
 
<script> 
 
   $(function() {    
    $("#customer_select" ).autocomplete({
	  minLength: 0,
      source: "/customers/customers_ac.js",
	  focus: function( event, ui ) {
        $( "#customer_select" ).val( ui.item.label );
        return false;
      },
	  select: function( event, ui ) {
          if (ui.item) {		  
			$("#customer_select").val (ui.item.label);
			$("#m_shipping_request_customer_id").val (ui.item.value);	 
		  };
			
          return false;
      } 
    });
  }); 
  
 </script>  
  
  
  
