  
<%= form_for @m_shipping_request do |s| %>
 <% if @m_shipping_request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@m_shipping_request.errors.count, "error") %> impiden guardar el formulario:</h2>
    <ul>
    <% @m_shipping_request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  
  <tr>
    <th> Nombre:</th>
    <td> <%= s.text_field :name %>  
  </td>
  </tr>
  
  <tr>
    <th> Servicio:</th>
    <td> <%= s.collection_select :service_id, Service.all, :id, :description %>  
  </td>
  </tr>
  
  <tr>
    <th> Recorrido:</th>
    <td> <%= s.collection_select :trip_id, Trip.all, :id, :description %>   </td>
  </tr>

  <tr>
    <th> Cuenta Cliente:</th>
	
	<td> <input id="customer_select" >  <br> <%= s.text_field :account_id %>  </td>
	
	<!--
    <td> <%= s.collection_select :account_id, Account.all, :id, :account_number %>  
  </td>
  -->
  </tr>
  

  
  <tr>
    <th>Viaje Unico:</th>
    <td> <%= s.select :simple_shipment, [['Si', 1], ['No', 0]] %>  </td>
  </tr>
  
  <tr>
    <th> Observaciones:</th>
    <td> <%= s.text_area :details %></td>
  </tr>
  
  <tr><td colspan=2 class="acciones_form">
  <%= s.submit "Guardar" %>
  </td>
  </tr>
  </table>

  
<% end %>
 
 
<script>
  $(function() {   
    $( "#customer_select" ).autocomplete({
      source: "/customers/customers_ac.js",
	  select: function( event, ui ) {
          if (ui.item) {
			$("#account_id").value = ui.item.value
		  };
      } 
    });
  });
  
  </script>  
