

<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Modelo de Pedido" } do %>
   
  <div role="main" class="ui-content">   


    <div class="ui-custom-field-cont">
       

        <div class="ui-field-contain" >          
                <label for="nombre">Nombre:</label>
                <span id="nombre"><%= @m_shipping_request.name  %> </span> 
        </div> 
        
        <div class="ui-field-contain" >          
                <label for="servicio">Servicio:</label>
                <span id="servicio"><%= @m_shipping_request.service.description  %></span>  
        </div> 
    </div>

    <table class="tabla_campos_lectura" cellpadding=0 cellspacing=0> 

      <tr>
        <th> Nombre:</th>
        <td> <%= @m_shipping_request.name %>  
      </td>
      </tr>

      <tr>
        <th> Servicio:</th>
        <td> <%= @m_shipping_request.service.description %>  </td>
      </tr>
      
      <tr>
        <th> Recorrido:</th>
        <td> <%= @m_shipping_request.trip.description %>   </td>
      </tr>

      <tr>
        <th> Cliente:</th>
        <td> <%= @m_shipping_request.customer.name  %>  </td>
      </tr>
        
        <tr>
        <th> Viaje Unico:</th>
	
        <td>
	    <% if @m_shipping_request.simple_shipment == 1 %> 
		    SI
	    <% else %>
	      NO
	    <% end %>
	    </td>
      </tr>

      <tr>
        <th> Observaciones:</th>
        <td> <%= @m_shipping_request.details %></td>
      </tr>
    </table>

    <% if @m_shipping_request.m_requested_cargos.size == 0 %>
    <div class="links_form"><%= link_to 'Ingresar Detalles de Carga', new_m_shipping_request_m_requested_cargo_path(@m_shipping_request) %></div>
    <% end %>

    <%= render @m_shipping_request.m_requested_cargos %>

    <div class="links_form"><%= link_to 'Salir', m_shipping_requests_path, {"data-ajax"=>"false"}%></div> 
 

  </div> <!-- /content --> 
<% end %>
 
