
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Menú GPS" } do %> 

   <div role="main" class="ui-content">  
  
    <style>
      Body {font-family: Arial, Tahoma, Verdana; font-size:11pt }
    </style>


    <table class="tabla_mantenimiento" cellpadding=0 cellspacing=0 width="100%%">
    <tr><th>Consultas</th><th>Reportes</th><th> Sincronización</th></tr>
    <tr> 
    <td>
        <%= link_to 'Comparar Moviles GPS', '/gps/compare_gps_vehicles' %> <br>
        <%= link_to 'Lectura KMs', '/gps/vehicle_odometer_readings' %> <br> <br>
    </td>
    <td>     
        <%= link_to 'Reporte Kms', '/gps/top_kilometers_done' %> <br> 
    </td>
    <td>
        <%= link_to 'Actualizar Moviles GPS', '/gps/update_gps_vehicles' %> <br>
        <%= link_to 'Actualizar Lectura KM', '/gps/save_odometer_readings' %> <br>
        <%= link_to 'Actualizar Posiciones', '/gps/update_positions' %> <br> 
        <%= link_to 'Crear Vehiculos', '/gps/create_vehicles' %> <br> <br>        
    </td>
    
    </tr>
     
    </table> 
    <br>  
  
  </div> <!-- /content --> 
    
  
<% end %>
