
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Actualizar Posiciones de Vehículos" } do %> 

  <div role="main" class="ui-content"> 


	 <%= link_to 'Volver', "/welcome/configuration" %>
	<table class="tabla_listado" cellpadding=0 cellspacing=0>
	  <tr class="tabla_listado_fila_cabezal">
		<th>Empresa</th>
	     <th>Marca</th>
	    <th>Modelo</th> 
		<th>Matrícula</th>
		<th>Comentarios</th>
	    <th>Longitud</th>
	    <th>Latitud</th>
	    <th>Fecha</th>
	    <th>Cerca de..</th>
		<th></th>
	  </tr>
	  
	 
	  <% @vehicles.each do |vehicle| %>
	  	
	  	<% last_pos = vehicle.get_last_position %>
	    <tr class="tabla_listado_fila_contenido">
	
	       <td><%= vehicle.company.company_name %></td>
	       <td><%= 
		    if vehicle.vehicle_brand != nil
		        vehicle.vehicle_brand.abbreviation
		    end
		%></td>
	      <td><%= vehicle.model %></td>
	      <td><%= vehicle.plate_number %></td>
	      <td><%= vehicle.comments %></td> 
	      
	      <% if last_pos != nil %> 
	       <td>
		  <%= last_pos.gps_longitude.to_s %>
	       </td>       
	       <td>
		 <%= last_pos.gps_latitude.to_s %>          
	      </td>
	      <td>
		 <%= l last_pos.gps_datetime %>          
	      </td>
	      <td> 
	      	<% pos_cercana = vehicle.get_near_location(last_pos)  %>
	       		<%= pos_cercana["name"] + " (" + "%.2f" % pos_cercana["dist"] + " km)"  %>
	      </td>
	      <% else %>
	       <td>
	       </td>       
	       <td>
	       </td>
	       <td>    
	       </td>
	       <td>
	       	</td>
	      <% end %>
		 <td></td>  
	    
	    </tr>
	  <% end %>

	</table>


	<div class="links_listado"><%= link_to 'Volver', "/welcome/configuration" %></div>


  </div> <!-- /content --> 
  
<% end %>
 
