
<%= form_for @trip do |f| %>
 <% if @trip.errors.any? %>
  <div id="error_explanation" class="form_errors">
    <h2> <%= t :error_header %> </h2>
    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr>
  <th><%= f.label :from_location_id %></th>
  <td>  <%= collection_select(:trip, :from_location_id, Location.all, :id, :name) %> </td>
  </tr>
    
  <tr>
    <th><%= f.label :to_location_id %></th>
    <td>   <%= collection_select(:trip, :to_location_id, Location.all, :id, :name) %> </td>
  </tr>
  
  <tr>
    <th><%= f.label :distance %></th>
    <td>  <%= f.text_field :distance %> </td>
  </tr>
  
  <tr><td colspan=2 class="acciones_form">
  <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>
 
<% end %>


