
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Listado de Recorridos" } do %> 

  <div role="main" class="ui-content">  

 <%= link_to 'Nuevo Recorrido', new_trip_path %> &nbsp;&nbsp; <%= link_to 'Volver', "/welcome/configuration" %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
   <th>Desde</th>
    <th>Hacia</th>
    <th>Distancia</th> 	
	<th></th>
  </tr>
 
  <% @trips.each do |trip| %> 
    <%  item_url =  trip_path(trip)   
        item_id=mobile_item_id(item_url) %> 
    <tr id="<%= item_id %>" class="tabla_listado_fila_contenido"> 
     <td><%= trip.from_location.name %></td>
      <td><%= trip.to_location.name %></td>
	  <td><%= trip.distance %></td>  
 	  <td><%= link_to image_tag(asset_path ('buttons/view.gif')), trip %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_trip_path(trip) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')), "javascript:list_delete_resource_dialog('" + item_url + "', '" + item_id + "')"  %>  </td>
    </tr>
  <% end %>
  </table>

	<div class="links_listado"><%= link_to 'Salir', "/welcome/configuration" %></div>
  </div><!-- /content -->  
<% end %>
 
 
