  
<%= form_for @employee do |f| %>
 <% if @employee.errors.any? %>
	<div id="error_explanation" class="form_errors">
	  <h2> <%= t :error_header %> </h2>
    <ul>
    <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
    
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr>
  <th><%= f.label :company_id %></th>
  <td> <%= f.collection_select :company_id, Company.all,  :id, :company_name %> </td>
  </tr>
  
  <tr>
  <th><%= f.label :first_name %></th>
  <td> <%= f.text_field :first_name %> </td>
  </tr>
  
  <tr>
  <th><%= f.label :last_name %></th>
  <td>  <%= f.text_field :last_name %> </td>
  </tr>
  
  
  <tr>
  <th><%= f.label :personal_id %></th>
  <td>  <%= f.text_field :personal_id %> </td>
  </tr>
  
  
  <tr>
  <th><%= f.label :personal_id_type %></th>
  <td><%= f.text_field :personal_id_type %></td>
  </tr>
  
    <tr>
    <th><%= f.label :job_type %></th>
    <td> <%= f.select  :job_type, [['', 0], ['Gerente', 1], ['Encargado', 2], ['Chofer', 3], ['Administrativo', 4]] %>  </td>
  </tr>    
  
  <tr><td colspan=2 class="acciones_form">
  <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>
 
  
<% end %>


