  
<%= form_for (@form_objects)  do |f| %>
 <% if @vehicle_registration.errors.any? %>
   <div id="error_explanation" class="form_errors">
  <h2> <%= t :error_header %> </h2>
    <ul>
    <% @vehicle_registration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  
  <% @vehic = @vehicle_registration.vehicle %> 
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <% if @vehic %>
  <tr>
  <th>Empresa</th> 
	<td> <%= @vehic.company.company_name %> </td>
  </tr>
  <tr>
    <th>Marca:</th>
    <td>  <%= 
        if @vehic.vehicle_brand != nil
            @vehic.vehicle_brand.name
        end  %>
    </td>
   </tr>
   <tr>
    <th>Modelo:</th>
    <td> <%= @vehic.model %></td>
   </tr>
   <tr>
    <th>Matrícula:</th>
    <td> <%= @vehic.plate_number %></td>
   </tr>
 <% end %>
 
 <tr>
   <th><%= f.label :chassis %></th> 
	<td> <%=  f.text_field :chassis %> </td>
   </tr>
  
  <th><%= f.label :engine %></th>  
	<td> <%=  f.text_field :engine %> </td>
  </tr>
  
  
  <th><%= f.label :dnt_id %></th>
	<td> <%=  f.text_field :dnt_id %> </td>
  </tr> 
  
  
  <th><%= f.label :registration_date %></th>  
	<td> <%=  f.date_select :registration_date %> </td>
  </tr>
  
  <th><%= f.label :registration_number %></th>  
	<td> <%=  f.text_field :registration_number %> </td>
  </tr>
  
  <th><%= f.label :date_of_entry %></th> 
	<td> <%=  f.date_select :date_of_entry %> </td>
  </tr>
  
  <tr><td colspan=2 class="acciones_form">
 <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>  
<% end %>


