  
<%= form_for @cargo_type do |f| %>
 <% if @cargo_type.errors.any? %>
  <div id="error_explanation" class="form_errors">
    <h2> <%= t :error_header %> </h2>
    <ul>
    <% @cargo_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr>
  <th><%= f.label :description %></th>
  <td>  <%= f.text_field :description %> </td>
  </tr>
    
  <tr>
    <th><%= f.label :cargo_category_id %></th>
    <td> <%= f.collection_select :cargo_category_id, CargoCategory.all,  :id, :description %>   </td>
  </tr>
  
  <tr>
    <th><%= f.label :measure_unit_id %></th>
    <td> <%= f.collection_select :measure_unit_id, MeasureUnit.all,  :id, :symbol %>   </td>
  </tr>
  
  <tr><td colspan=2 class="acciones_form">
  <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>
  
<% end %>


