<h1>Listado de Tipos de Carga</h1>

 <%= link_to 'Nuevo Tipo de Carga', new_cargo_type_path %> &nbsp;&nbsp; <%= link_to 'Volver', "/welcome/configuration" %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Descripción</th>
    <th>Categoría</th> 
	<th>Unidad de Medida</th> 
	<th></th>
  </tr>
 
  <% @cargo_types.each do |cargo_type| %>
    <tr class="tabla_listado_fila_contenido">
      <td><%= cargo_type.description %></td>
      <td><%= cargo_type.cargo_category.description %></td>
      <td><%= cargo_type.measure_unit.symbol %></td>
	   <td><%= link_to image_tag(asset_path ('buttons/view.gif')), cargo_type %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_cargo_type_path(cargo_type) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')), cargo_type_path(cargo_type), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
 	
    </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver', "/welcome/configuration" %></div>