<h1>Listado de Marcas de Vehículos</h1>

 <%= link_to 'Nueva Marca', new_vehicle_brand_path %> &nbsp;&nbsp; <%= link_to 'Volver', "/welcome/configuration" %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Nombre</th>    
    <th>Abreviación</th> 
    <th>País de Origen</th> 
	<th></th>
  </tr>
 
  <% @vehicle_brands.each do |vehicle_brand| %>
    <tr class="tabla_listado_fila_contenido">
      <td><%= vehicle_brand.name %></td>
      <td><%= vehicle_brand.abbreviation %></td>
      <td><%= vehicle_brand.country_of_origin %></td>
  	  <td><%= link_to image_tag(asset_path ('buttons/view.gif')), vehicle_brand %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_vehicle_brand_path(vehicle_brand) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')), vehicle_brand_path(vehicle_brand), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
	
    </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver', "/welcome/configuration" %></div>