
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Marca de Vehículo" } do %>
   
  <div role="main" class="ui-content">   
 
    <table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
      <tr>
      <th>Nombre:</th>
      <td><%= @vehicle_brand.name %></td>
      </tr>
      
      <tr>
      <th>Abreviación:</th>
      <td> <%= @vehicle_brand.abbreviation %></td>
      </tr>
      
      <tr>
      <th>País de Origen:</th>
      <td> <%= @vehicle_brand.country_of_origin %></td>
      </tr>
    </table>
  
    <div class="links_form"><%= link_to 'Salir', vehicle_brands_path, {"data-ajax"=>"false"}%></div> 

  </div> <!-- /content --> 
<% end %>

