  
<%= form_for @customer_shipping_order do |f| %>
 <% if @customer_shipping_order.errors.any? %>
  <div id="error_explanation" class="form_errors">
    <h2> <%= t :error_header %> </h2>
    <ul>
    <% @customer_shipping_order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <%else%>
    <div id="error_explanation" class="form_errors" style="display:none">
      <h2> <%= t :error_header %> </h2>
      <ul id="error_list">
      
      </ul>
    </div>
  
  <% end %>
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <% if @customer_shipping_order.order_number != nil %>
  <tr>    
	<th><%= f.label :order_number %></th>    
  </tr>
  <% end %>
  
  <tr>	
	<th><%= f.label :company_id %></th>
    <td><%= f.collection_select :company_id, Company.all,  :id, :company_name %></td>
  </tr>
  
  <tr>	
	<th><%= f.label :customer_id %></th>
    <td>
    
    <%= text_field_tag :customer_select %>
    <%= f.text_field :customer_id %>
     
    </td>
    
  </tr>  
   
  <tr>	
	<th><%= f.label :order_datetime %></th>
    <td><%= f.hidden_field :order_datetime %> <%= hidden_field_tag :order_date %> 
    <input type="text" id="order_date_dp" class="campo_fecha_hora"/>  &nbsp;-&nbsp; <%= select_time @customer_shipping_order.order_datetime, prefix: 'order_time' %>hs 
    </td>
    
 
  </tr>
  <tr>	
	<th><%= f.label :shipping_date %></th>
    <td><%= text_field_tag :shipping_date, @customer_shipping_order.shipping_date ,:class => "campo_fecha_hora"  %> 
         <%= f.hidden_field :shipping_date%>  </td>
  </tr>
  </table>
  <br>
  <table cellpadding=0 cellspacing=0 >
    <tr><td colspan=2>
   
    <!--  LINEAS DE LA NOTA DE PEDIDO  -->
    
    

    <% if @customer_shipping_order.shipping_requests.size > 0 %>
    
        <table class="tabla_listado_2" cellpadding=0 cellspacing=0>
        <tr class="tabla_listado_2_fila_cabezal"> <th>Tipo Trabajo</th> <th width=300px>Servicio</th> <th>Viajes</th> <th>Tipo Carga</th> <th>Q Total</th> <th></th> <th></th> </tr>
        <%= render @customer_shipping_order.shipping_requests %>
     
    <% else %>    
     <table class="tabla_listado_2" cellspacing=0 cellpadding=1> 
        <tr class="tabla_listado_2_fila_cabezal"> <th style="background-color:white"></th> <th>Tipo Trabajo</th> <th width=300px>Servicio</th> <th>Viajes</th> <th>Tipo Carga</th> <th>Q Total</th> <th></th>  </tr>
    
       <% @cant_lineas = 5 %>

       <% for i in 1..@cant_lineas %>
        <tr id="<%= "sr_line_" + i.to_s %>" > 
            <td><div id="<%= "err_line_" + i.to_s %>" style="display:none; color:red; font-weight:bold; width:10px; font-size:11pt" >*</div></td>
             <td>
             <%=select_tag( "sr[" + i.to_s + "][m_shipping_request_select]", "<option></option>", :include_blank => true)  %>  
             
             <%=hidden_field_tag "sr[" + i.to_s + "][m_shipping_request_id]" %>
             </td> 
             <td><div id = "sr_<%= i.to_s %>_service" style="border:solid 1px #B8B8B8; height:18px;" > &nbsp;</div>
                  <div id = "sr_<%= i.to_s %>_service_other" style="display:none" > 
                    <%=select_tag( "sr[" + i.to_s + "][service_id]", options_from_collection_for_select(Service.all,  :id, :description), :include_blank => true)  %>&nbsp;
                    <%=select_tag( "sr[" + i.to_s + "][trip_id]", options_from_collection_for_select(Trip.all,  :id, :description), :include_blank => true)  %> 
                  </div>
             </td> 
             <td><%=text_field_tag "sr[" + i.to_s + "][trip_quantity]", nil, {:size => 3, :maxlength => 4}%></td> 
             <td> <%=select_tag( "sr[" + i.to_s + "][cargo_type_id]", options_from_collection_for_select(CargoType.all,  :id, :description), :include_blank => true)  %> </td>
             <td> <%=text_field_tag "sr[" + i.to_s + "][cargo_quantity]", nil, {:size => 8, :maxlength => 9} %></td> 
             <td> <%=select_tag( "sr[" + i.to_s + "][measure_unit_id]", options_from_collection_for_select(MeasureUnit.all,  :id, :symbol), :include_blank => true)  %> </td>
     
           </tr> 
       
        <% end %>          
   <% end %> 
         </table>
    </td></tr>  
  </table>
  
  <br>
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr><th style="text-align:left"><%= f.label :comments %></th><tr>
  <tr><td><%= f.text_area :comments, class: 'campo_comentarios' %></td></tr>
  <tr><td class="acciones_form">
  <%= f.submit t(:save), onclick: 'return validarForm();' %>
  </td>
  </tr>
  </table>
  
  
<% end %>

<script>
  
  
  function validarFilas(errores) {
      var i;
      var error_line = 0;
      var hayErrores = false;
      var hayDatos = false;
      var errorMsg;
      
                 
      for (i= <%=@cant_lineas%>; i >= 1; i--) {
        
        result = validarFila (i);
      
        if ( result == 0) {
            $("#err_line_" + i).show(); 
            
            hayErrores = true;
           
        } else {
            $("#err_line_" + i).hide();
            
            if (result == 1) {
              hayDatos = true;
            }
        }
      }
      
      if (hayErrores) {
        errorMsg = "<%= t 'invalid_lines_found' %>";
      }
      else if ( ! hayDatos ) {
       errorMsg = "<%= t 'must_fill_one_sr_line' %>";
        hayErrores = true;
      }
       
      if (hayErrores) {        
        errores.push(errorMsg);
        return false;
      }
      
     
      return true;
  }

  function quitarMensajesErr () {     
    $("#error_explanation").hide();
    $("#error_list").html("");  
  }
  
  
  function mostrarMensajesErr (errores) {  
  
    var html = "<li>"  + errores.join("</li><li>") + "</li>";       
    $("#error_list").html(html);      
    $("#error_explanation").show();
    
    var offs = $("#error_explanation").offset();
    
    window.scrollTo(offs.left-5, offs.top-5);
  }
  
  
  function validarFila (nroFila) {
     
     var sr_select = $("#sr_" + nroFila + "_m_shipping_request_select").val();
     var service_id = $("#sr_" + nroFila + "_service_id").val();
     var trip_id = $("#sr_" + nroFila + "_trip_id").val();
     var trip_quantity = $("#sr_" + nroFila + "_trip_quantity").val();
     var cargo_type_id = $("#sr_" + nroFila + "_cargo_type_id").val();
     var cargo_quantity = $("#sr_" + nroFila + "_cargo_quantity").val();
     var measure_unit_id = $("#sr_" + nroFila + "_measure_unit_id").val();
     
     
     if ((sr_select == "") && (trip_quantity == "") && (cargo_type_id == "") && (cargo_quantity == "")  && (measure_unit_id == "")) {
        return -1;
     }
  
     if (( sr_select == "otro" ) && (service_id == "" || trip_id == "" )) {           
        return 0;
     } 
     
     
     if ( trip_quantity == "" || cargo_type_id == "" || cargo_quantity == "" || measure_unit_id == "") {           
        return 0;
     } 
     
     return 1;
               
  }
  
  function validarForm () {
     
     var errores = [];
     
     validarSeleccionAutoComp ("customer_shipping_order_customer_id", "<%= t "activerecord.attributes.customer_shipping_order.customer_id" %>", errores) ;
     
     validarFilas(errores);
     
     if (errores.length > 0 ) {
        mostrarMensajesErr(errores);
        return false;
     }
     
     return true;
  }
  
  function validarSeleccionAutoComp (idCampo, labelCampo, errores) {
      var valor = $("#" + idCampo).val();
      var errorMsg ;
      
      if (valor == "") {
        errorMsg = labelCampo + ": " + "<%= t("errors.messages.invalid") %>";
        
        errores.push (errorMsg);
        
        return false;
      }
      
      return true;
  }
   
   function validarCampoGral (idCampo, labelCampo, validacion, errorMsg) {
      var valor = $("#" + idCampo).val();
      var valido = true;
      
      if (validacion="blank") {
        if (valor == "") {
            errorMsg = labelCampo + ": " + "<%= t("errors.messages.blank") %>";
            return false;
        }
      }
      
      return valido;
   }
   
  // Carga opciones en el campo de la columna "Tipo Trabajo" de una fila, con los tipos de trabajo de un cliente
  function opcionesTipoPedido (customerID, row_num) {  
    var url_action = "/m_shipping_requests/options_by_customer_id.js" ;
    var element_id  = "#sr_" + row_num + "_m_shipping_request_select";
           
    $.post(url_action,{customer_id: customerID}, 
     function(data, status) {
        $(element_id).html(eval(data));
        
        // Asignar handler para cargar datos del tipo de trabajo seleccionado al evento onchange del campo de seleccion.
        // Si se selecciona Otro , se muestran campos para permitir seleccionar tipo de servicio y recorrido
        $(element_id).on("change", function(e) {
                   
            $('#sr_' + row_num + '_service_id').val('');
            $('#sr_' + row_num + '_trip_id').val('');
            
            $('#sr_' + row_num + '_trip_quantity').val('');
            $('#sr_' + row_num + '_cargo_type_id').val('');
            $('#sr_' + row_num + '_cargo_quantity').val('');              
            $('#sr_' + row_num + '_measure_unit_id').val('');
                        
            // Cargar datos segun si se selecciona un tipo de trabajo existente o se selecciona "otro"
            if ($(element_id).val() == "otro"){
            
              $('#sr_' + row_num + '_m_shipping_request_id').val('');
              $('#sr_' + row_num + '_service').css ("display","none");
              $('#sr_' + row_num + '_service_other').css ("display", "block");
                           
            } else {
            
               // Guardo id del tipo de trabajo seleccionado ( solo se guarda en este caso, no cuando seleccionan "otro")
              $('#sr_' + row_num + '_m_shipping_request_id').val($(element_id).val());
              $('#sr_' + row_num + '_service').css ("display","block");
              $('#sr_' + row_num + '_service_other').css ("display", "none");
              
              
              // solicitar por ajax y cargar los datos del tipo de pedido
              $.post('/m_shipping_requests/fill_request_order_line', {id: $(element_id).val(), line_num: row_num}, null , "script");
            }
        });
     } ); 
  } 
  
  
   //  ---- Autocomplete en lineas del pedido  -----
   // Convierte en autocomplete el campo de la columna "Tipo Trabajo" de una fila, con los tipos de trabajo de un cliente
  function autocompTipoPedido (customerID, row_num) {
    $("#sr_" + row_num + "_m_shipping_request_select").autocomplete({
	  minLength: 0,
      source: "/m_shipping_requests/m_shipping_requests_ac.js?customer_id=" + customerID,
	  focus: function( event, ui ) {
        $( "#sr_" + row_num + "_m_shipping_request_select").val( ui.item.label );
        return false;
      },
	  select: function( event, ui ) {
          if (ui.item) {		  
			$("#sr_" + row_num + "_m_shipping_request_select").val (ui.item.label);
			$("#sr_" + row_num + "_m_shipping_request_id").val (ui.item.value);
                   
            // solicitar x ajax y cargar los datos del tipo de pedido
            $.post('/m_shipping_requests/fill_request_order_line', {id: ui.item.value, line_num: row_num}, null , "script");
          };
		  return false;
      } 
    });
  }
  
  
  // -----  Campos fecha , datepicker  -----
    
    // Esta funcion permite seleccionar fechas y horas con datepicker y mostrarlas con formato
    function datetime_to_datepicker (datetime_field, date_field, datepicker_field, time_field) {
        var datetime=$('#' + datetime_field).val().substring(0,10)
    
        $('#' + datepicker_field).val(datetime);
    
        $('#' + datepicker_field).datepicker({
          dateFormat: "yy-mm-dd",          
          altField: "#" + date_field,
          altFormat: "yy-mm-dd"        
        }); 
        
        $('#' + datepicker_field).datepicker("option", "dateFormat", "DD d 'de' MM, yy"); 
        
        
        strOnChangeScript = 'fld.onchange=function(){update_datetime("' + datetime_field + '", "' + date_field + '", "' + time_field + '")};'
        fld=document.getElementById(datepicker_field);
        eval (strOnChangeScript);
        
        fld=document.getElementById(time_field + '_hour');
        eval (strOnChangeScript);
        
        fld=document.getElementById(time_field + '_minute');
        eval (strOnChangeScript);
 
    }
    
    function update_datetime (datetime_field, date_field, time_field) {
        $('#' + datetime_field).val( $('#' + date_field).val() + ' ' + $('#' + time_field + '_hour').val() + ':' + $('#' + time_field + '_minute').val() + ':00.000000');
    }

    
   // Asigna opciones al campo cuenta
  function accounts_options() {
       $.post("/accounts/accounts_by_customer_id", {id: $("#customer_id").val(), element_id: "customer_shipping_order_account_id"}, null , "script");
  }     
    
 
 // ----  Inicializacion de los campos  ----
      
   $(function() {    
    $("#customer_select" ).autocomplete({
	  minLength: 0,
      source: "/customers/customers_ac.js",
	  focus: function( event, ui ) {
        $( "#customer_select" ).val( ui.item.label );
        return false;
      },
	  select: function( event, ui ) {
          if (ui.item) {		  
			$("#customer_select").val (ui.item.label);
			$("#customer_shipping_order_customer_id").val (ui.item.value);		

   
    //  POR AHORA NO SE SELECCIONAN CUENTAS
    //  accounts_options();
		
        <% if @cant_lineas != nil %>
            for (i=1; i <= <%= @cant_lineas %>; i++) {
                $("#sr_" + i + "_m_shipping_request_select").val ('');
                $("#sr_" + i + "_m_shipping_request_id").val ('');
                
               opcionesTipoPedido(ui.item.value, i);
              }
        <% end %>
		  };
			return false;
      } 
    });
    
      //  Inicializar campos  datetime
      
      // Campo fecha orden, datetime
     datetime_to_datepicker ('customer_shipping_order_order_datetime', 'order_date', 'order_date_dp', 'order_time');
     
     // campo fecha viaje, date
     
     $('#shipping_date').val ($('#customer_shipping_order_shipping_date').val ());

    $('#shipping_date').datepicker({
          dateFormat:  "yy-mm-dd",          
          altField: "#customer_shipping_order_shipping_date" ,
          altFormat: "yy-mm-dd"        
        }); 
      
     $('#shipping_date').datepicker("option", "dateFormat", "DD d 'de' MM, yy"); 
     
            
  });
      
  </script>
  