<h1>Listado de Notas de Pedido</h1>

 <%= link_to 'Nueva Nota de Pedido', new_customer_shipping_order_path %>

<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Nro</th>
	<th>Cliente</th>    
    <th>Fecha Orden</th>
    <th>Fecha Trabajo</th>
	<th></th>
  </tr>
 
  <% @customer_shipping_orders.each do |customer_shipping_order| %>
    <tr class="tabla_listado_fila_contenido">
      <td><%= customer_shipping_order.order_number %></td>
      <td><%= customer_shipping_order.customer.name %></td>
      <td><%= l customer_shipping_order.order_datetime %></td>
      <td><%= l customer_shipping_order.shipping_date %></td>
 	  <td><%= link_to image_tag(asset_path ('buttons/view.gif')), customer_shipping_order %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_customer_shipping_order_path(customer_shipping_order) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')), customer_shipping_order_path(customer_shipping_order), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
 
    </tr>
  <% end %>
</table>



<div class="links_listado"><%= link_to 'Volver al Menú Principal', "welcome/index" %></div>
 
 
 