
<%= render "/common/form_errors" %>

<%= form_for @user do |f| %>
 <% if @user.errors.any? %>
  <div id="error_explanation" class="form_errors">
    <h2> <%= t :error_header %> </h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
   
  <tr>
   <th><%= f.label :name %></th>
  <td><%= f.text_field :name %></td>
  </tr>
    
  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  
  <tr>
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password %></td>
  </tr>
  
   <tr>
    <th><%= f.label :password_confirmation %></th>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  
  
  <%if @roles.length > 0%>
      <tr>
        <th>Roles</th>
        <td>  
           <fieldset data-role="controlgroup">              
             
             <% @roles.each do |role| %> 
                <% check_id="check_roles_usuario[" + role.id.to_s + "]" %>
                <% if  @user_roles.include?(role.id)
                     checked_attr="checked=\"\""
                   else
                      checked_attr=""
                   end
                %>
                <label for="<%=check_id%>"><%= role.name %></label>  
                <input type="checkbox" name="<%=check_id%>" id="<%=check_id%>" <%= checked_attr %> %> 
                
             <% end%>
           </fieldset>    
                    
        </td>
      </tr>
    
  <%end%>
  
  <tr><td colspan=2 class="acciones_form">
  <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>
 
<% end %>


