
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title =>  "Usuario" } do %>
   
  <div role="main" class="ui-content">  

    <table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
      <tr>
      <th>Nombre:</th>
      <td><%= @user.name %></td>
      </tr>
      <tr>
      <th>E-mail:</th>
      <td><%= @user.email %></td>
      </tr>
      
    </table> 

    <div class="links_form"><%= link_to 'Notificar', '/users/notify/' + @user.id.to_s %></div> 
    <div class="links_form"><%= link_to 'Salir', users_path  , {"data-ajax"=>"false"}%></div> 

  </div> <!-- /content --> 
<% end %>
