 
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Inicio" } do %>
   
  <div role="main" class="ui-content">   
       

<% if @alerts.length > 0 %>

<H4>  Alertas (!)</H4>
<div id="Alertas" class="lista_alertas">
  <% @alerts.each do |alert| %>
    <%= link_to "- " + alert['texto'] , alert['url'] %><br>
  <% end %>
</div>
<% end %>


<H4> Pedidos Recientes <H4>
<div id="PedidosRecietes" class="ventana_inicio">

  <div class="lista_inicio">
      <% @pedidos.each do |p| %>         
            <b><%= I18n.l(p.customer_shipping_order.order_datetime.to_date, :format => :short) %> </b> <%= p.customer_shipping_order.customer.name%>  -  <% if p.m_shipping_request != nil %> <%= p.m_shipping_request.name%> <% else %> <%= t 'other' %> <% end %> &nbsp;  <%=  p.cargo_quantity %> <%=  p.measure_unit.symbol %>  <br>
      <% end %>
  </div>
</div>
 

  </div><!-- /content --> 
  
<% end %>


