  
<%= form_for ([@requested_cargo, @requested_delivery])  do |f| %>
 <% if @requested_delivery.errors.any? %>
 <div id="error_explanation" class="form_errors">
  <h2> <%= t :error_header %> </h2>
    <ul>
    <% @requested_delivery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr>   
  <th><%= f.label :ammount %></th> 
	<td> <%=  f.text_field :ammount %> </td>
  </tr>
    <tr> 
  <th><%= f.label :address_id %></th>
	<td> <%=  f.collection_select :address_id, @requested_cargo.shipping_request.account.customer.addresses,  :id, :description %> </td>
  </tr>
  <th><%= f.label :comments %></th>
	<td> <%=  f.text_field :comments %> </td>
  </tr>
  
  <tr><td colspan=2 class="acciones_form">
  <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>  
<% end %>


