
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Indicación de Entrega" } do %>
   
  <div role="main" class="ui-content">   

    <table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
     
      <tr>   
      <th>Cantidad:</th>  
	    <td> <%=  @requested_delivery.ammount %> </td>
      </tr>
        <tr> 
      <th>Dirección de Entrega:</th>  
	    <td> <%=  @requested_delivery.address.description %> </td>
      </tr>
      <th>Comentarios:</th>  
	    <td> <%=  @requested_delivery.comments %> </td>
      </tr>
        
    </table>

    <div class="links_form"><%= link_to 'Salir', requested_cargo_path(@requested_cargo), {"data-ajax"=>"false"}%></div> 

  </div> <!-- /content --> 
<% end %>

