  
<%= form_for @customer do |f| %>
 <% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> impiden guardar el formulario:</h2>
    <ul>
    <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr>    
	<th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>	
	<th><%= f.label :rut %></th>
    <td><%= f.text_field :rut %></td>
  </tr>
 
    
  <tr><td colspan=2 class="acciones_form">
  <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>
  
<% end %>


