<h1>Listado de Clientes</h1>

 <%= link_to 'Nuevo Cliente', new_customer_path %> &nbsp;&nbsp; <%= link_to 'Volver', "/welcome/configuration" %>

<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Nombre</th>
	<th>RUT</th>
	<th></th>
  </tr>
 
  <% @customers.each do |customer| %>
    <tr class="tabla_listado_fila_contenido">
      <td><%= customer.name %></td>
      <td><%= customer.rut %> </td>
 	  <td><%= link_to image_tag(asset_path ('buttons/view.gif')), customer %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_customer_path(customer) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')), customer_path(customer), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
     </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver', "/welcome/configuration" %></div>
 
 
 