<h1>Listado de Unidades de Facturación</h1>

 <%= link_to 'Nueva Unidad de Facturación', new_billing_unit_path %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Descripción</th>
    <th>Código</th> 
	<th></th>
  </tr>
 
  <% @billing_units.each do |billing_unit| %>
    <tr class="tabla_listado_fila_contenido">
      <td><%= billing_unit.description %></td>
      <td><%= billing_unit.code %></td>
	   <td><%= link_to 'Ver', billing_unit %> &nbsp; <%= link_to 'Editar', edit_billing_unit_path(billing_unit) %> &nbsp; <%= link_to 'Eliminar', billing_unit_path(billing_unit), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
	
    </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver al Menú Principal', "welcome/index" %></div>