  
<%= form_for ([@vehicle, @sucta_registration])  do |f| %>
 <% if @sucta_registration.errors.any? %>
  <div id="error_explanation" class="form_errors">
  <h2> <%= t :error_header %> </h2>
    <ul>
    <% @sucta_registration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr>
    <th><%= f.label :company_id %></th>
	<td> <%=  @sucta_registration.vehicle.company.company_name %> </td>
  </tr>
  <tr>
  <th>Vehículo:</th>  
	<td>  <%=  @sucta_registration.vehicle.brand %> - <%= @sucta_registration.vehicle.number_plate %> </td>
  </tr>
   <tr>
  <th><%= f.label :expiration %></th>
  <td> <%= f.date_select :expiration %> </td>
  </tr>
  <tr>
  <th><%= f.label :extended %></th>
  <td> <%= f.select :extended, [['Si', 1], ['No', 0]] %>  </td>
  </tr>  
  <th><%= f.label :comments %></th>
  <td> <%= f.text_area :comments %> </td>
  </tr>
  <tr><td colspan=2 class="acciones_form">
 <%= f.submit t(:save) %>
  </td>
  </tr>
  </table>  
<% end %>


