<h1>Listado de Pedidos</h1>

 <%= link_to 'Nuevo Pedido', new_shipping_request_path %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Fecha del Pedido</th>	
	<th>Fecha del Viaje</th>
    <th>Servicio</th>			
	<th>Cliente</th>		
	<th>Recorrido</th>
	<th>Factura</th>
	<th>Observaciones</th>
	<th></th>
  </tr>
 
  <% @shipping_requests.each do |shipping_request| %>
    <tr class="tabla_listado_fila_contenido">
      <td><%= shipping_request.request_date %></td>
      <td><%= shipping_request.required_shipment_date %></td>
	  <td><%= shipping_request.service.description %></td>  	  
	  <td><%= shipping_request.account.customer.name %> </td> 
      <td><%= shipping_request.trip.description %></td> 
	  <td><%= shipping_request.bill_number %> </td>   
	  <td><%= shipping_request.details %> </td>   
	  <td><%= link_to 'Ver', shipping_request %> &nbsp; <%= link_to 'Editar', edit_shipping_request_path(shipping_request) %> &nbsp; <%= link_to 'Eliminar', shipping_request_path(shipping_request), method: :delete, data: { confirm: '¿Está seguro?' } %> &nbsp;  <%= link_to 'Ingresar Viaje', '/shipments/new/' + shipping_request.id.to_s %></td>
    </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver al Menú Principal', "welcome/index" %></div>
 


