<H1> Pedido </H1>

<table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
  <tr>
    <th> Nro de Nota:</th>
    <td> <%= @shipping_request.customer_shipping_order.order_number %>   </td>
  </tr>
  
  <tr>
    <th> Empresa:</th>
    <td> <%= @shipping_request.customer_shipping_order.company.company_name %>   </td>
  </tr>
    
   <tr>
    <th> Cliente:</th>
    <td> <%= @shipping_request.customer_shipping_order.customer.name %>   </td>
  </tr>
  
  <tr>
    <th> Fecha Pedido:</th>
    <td> <%= l @shipping_request.customer_shipping_order.order_datetime %> </td>
  </tr>
  
  <tr>
    <th> Fecha Trabajo:</th>
    <td>  <%= l @shipping_request.customer_shipping_order.shipping_date %> </td>
  </tr>
  
  <tr>
    <th> Comentarios:</th>
    <td> <%= @shipping_request.customer_shipping_order.comments %>  </td>
  </tr>
  
   <tr>
    <th> Tipo de Trabajo:</th>
    <td> <%= @shipping_request.m_shipping_request.name %> </td>
  </tr>
  
  
  <tr>
    <th> Tipo Carga:</th>
    <td> <%= @shipping_request.cargo_type.description %> </td>
  </tr>
  
  <tr>
    <th> Q:</th>
    <td> <%= @shipping_request.cargo_quantity %>  <%= @shipping_request.measure_unit.symbol %></td>
  </tr>
  
  </table>

 
 
 