  
<%= form_for @company do |c| %>
 <% if @company.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@company.errors.count, "error") %> impiden guardar el formulario:</h2>
    <ul>
    <% @company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
  <tr>
  <th>Nombre:</th>
  <td> <%= c.text_field :company_name%> </td>
  </tr>
  <tr>
  <th>Razón Social:</th>
  <td> <%= c.text_field :trade_name%> </td>
  </tr>
  <tr>
  <th>RUT:</th>
  <td> <%= c.text_field :rut%> </td>
  </tr>
  <tr>
  <tr>
  <th>MTOP:</th>
  <td> <%= c.text_field :mtop%> </td>
  </tr>    
  <th>BPS:</th>
  <td> <%= c.text_field :bps%> </td>
  </tr>
  <tr>
  <th>MTSS:</th>
  <td> <%= c.text_field :mtss%> </td>
  </tr>    
  <tr><td colspan=2 class="acciones_form">
  <%= c.submit "Guardar" %>
  </td>
  </tr>
  </table>  
<% end %>


