<H1> Empresa </H1>

<table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
  <tr>
  <th>Nombre:</th>
  <td> <%= @company.company_name%> </td>
  </tr>
  <tr>
  <th>Razón Social:</th>
  <td> <%= @company.trade_name%> </td>
  </tr>
  <tr>
  <th>RUT:</th>
  <td> <%= @company.rut%> </td>
  </tr>
  <th>MTOP:</th>
  <td> <%= @company.mtop%> </td>
  </tr>    
  <tr>
  <th>BPS:</th>
  <td> <%= @company.bps%> </td>
  </tr>
  <tr>
  <th>MTSS:</th>
  <td> <%= @company.mtss%> </td>
  </tr>    
</table>

<div class="links_form"><%= link_to 'Atrás', companies_path %></div>