<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Vehículo" } do %>
   
  <div role="main" class="ui-content">   

    <table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
      <tr>
      <th>Empresa:</th>
      <td>  <%= @vehicle.company.company_name  %></td>
      </tr>
      <tr>
      <th>Marca:</th>
      <td>  <%= 
            if @vehicle.vehicle_brand != nil
                @vehicle.vehicle_brand.name
            end
      %></td>
      </tr>
      <tr>
      <th>Tipo de Vehículo:</th>
      <td>  <%if @vehicle.vehicle_type %> <%= @vehicle.vehicle_type.description %> <% end %> </td>
      </tr>
      <tr>
      <th>Modelo:</th>
      <td> <%= @vehicle.model %></td>
     </tr>
     <tr>
      <th>Matrícula:</th>
      <td> <%= @vehicle.plate_number %></td>
     </tr>
     <tr>
      <th>Chofer Asignado:</th>
      <td>  <%= @vehicle.default_driver != nil ? @vehicle.default_driver.get_complete_name : "" %></td>
     </tr> 
     <tr>
      <th>Identificador GPS:</th>
      <td> <%= @vehicle.gps_numeric_ident %></td>
     </tr>
     <tr>
      <th>Comentarios:</th>
      <td>  <%= @vehicle.comments %></td>
     </tr> 
     </table>


    <br> 
     
     <% if @vehicle.sucta_registration %>
    <%= render @vehicle.sucta_registration %>
     <% else %> 
    <div class="links_form"><%= link_to 'Ingresar Registro de SUCTA', new_vehicle_sucta_registration_path(@vehicle) %></div>
    <% end %>

     <% if @vehicle.vehicle_registration %>
    <%= render @vehicle.vehicle_registration %>
     <% else %> 
    <div class="links_form"><%= link_to 'Ingresar Registro de MTOP', new_vehicle_vehicle_registration_path(@vehicle) %></div>
    <% end %>


    <br>
 

    <div class="links_form"><%= link_to 'Salir', vehicles_path , {"data-ajax"=>"false"}%></div> 

  </div> <!-- /content --> 
<% end %>





