  
<%= form_for ([@shipping_request, @requested_cargo])  do |r| %>
 <% if @requested_cargo.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@requested_cargo.errors.count, "error") %> impiden guardar el formulario:</h2>
    <ul>
    <% @requested_cargo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  
  <table class="tabla_campos" cellpadding=0 cellspacing=0>
   <tr>
   <th>Tipo de Carga:</th>  
   <td > <%=  r.collection_select :cargo_type_id, CargoType.all,  :id, :description %> </td>
   </tr>
 
  <tr>   
  <th>Cantidad:</th>  
	<td> <%=  r.text_field :ammount %>  <%=  r.collection_select :measure_unit_id, MeasureUnit.all,  :id, :symbol %> </td>
  </tr>
  
  
  
  <tr><td colspan=2 class="acciones_form">
  <%= r.submit "Guardar" %>
  </td>
  </tr>
  </table>  
<% end %>


