<h1>Listado de Vehículos</h1>

 <%= link_to 'Nuevo Vehículo', new_vehicle_path %> &nbsp;&nbsp; <%= link_to 'Volver', "/welcome/configuration" %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
	<th>Empresa</th>
     <th>Marca</th>
    <th>Modelo</th> 
	<th>Matrícula</th>
	<th>Comentarios</th>
	<th>Id GPS</th>
	<th>Matr GPS</th>	
	<th>Desc GPS</th>
    <th>Cerca de ..</th>
	<th></th>
  </tr>
 
  <% @vehicles.each do |vehicle| %>
    <tr class="tabla_listado_fila_contenido">
	
       <td><%= vehicle.company.company_name %></td>
       <td><%= 
            if vehicle.vehicle_brand != nil
                vehicle.vehicle_brand.abbreviation
            end
        %></td>
      <td><%= vehicle.model %></td>
      <td><%= vehicle.number_plate %></td>
      <td><%= vehicle.comments %></td>  
      
      <td><%= vehicle.gps_vehicle_id %></td>  
      <td><%= vehicle.gps_number_plate %></td>  
      <td><%= vehicle.gps_description %></td>  
       <td>

       <% @pos_cercana = vehicle.get_near_location()  %>
       <%= @pos_cercana["name"] + " (" + "%.2f" % @pos_cercana["dist"] + " km)"  %>
      </td>
	 <td><%= link_to image_tag(asset_path ('buttons/view.gif')), vehicle %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_vehicle_path(vehicle) %> &nbsp; <%= link_to(image_tag(asset_path('buttons/delete.gif')), vehicle_path(vehicle), method: :delete, data: { confirm: '¿Está seguro?' }) %></td>  
    
    </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver', "/welcome/configuration" %></div>
 