
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Vehiculos" } do %> 


 
    <style>
      Body {font-family: Arial, Tahoma, Verdana; font-size:11pt }
    </style>


  <div role="main" class="ui-content">    

    <table>
    <tr><td>
      <table class="tabla_menu_superior" width=100%  >
        <tr>
          <td><%= link_to 'Nuevo Vehículo', new_vehicle_path %></td>
          <td align=right class="campo_ordenar_cabezal"> Ordenar por <%= select_tag :select_sort, options_for_select(sort_options) %> </td>
        </tr>
      </table>
    </td></tr>
    <tr><td>
     
     
    <table class="tabla_listado" cellpadding=0 cellspacing=0>
      <tr class="tabla_listado_fila_cabezal"> 
     
      <th>Modelo</th> 
	    <th>Matrícula</th> 
	    <th>Detalle</th>
	    <th>GPS</th>
	    <th></th>
      </tr>
     
      <% @vehicles.each do |vehicle| %>
        <%  item_url = vehicle_path(vehicle)  
            item_id=mobile_item_id(item_url) %>
      
      	<% gps_pos = vehicle.get_last_position() %>
      	<% if vehicle.gps_numeric_ident != nil
      		gps_inst = vehicle.gps_installations.where('active=true').first
      	   end 
      	 %>
       
		    <tr id="<%= item_id %>" class="tabla_listado_fila_contenido">
 
           <td> 
           <div class="tabla_listado_titulo_fila_chico"><%= vehicle.company.company_name %></div>
             <%= 
                if vehicle.vehicle_brand != nil
                    vehicle.vehicle_brand.abbreviation
                end
            %> <%= vehicle.model %></td>
          <td><div class="tabla_listado_titulo_fila_chico">&nbsp;</div><%= vehicle.plate_number %></td>
         
          <td>
            <div class="tabla_listado_titulo_fila_chico"><%= get_vehicle_status_description(vehicle.status) %></div>
            <%= vehicle.comments %>
          </td>  
          <td>
            <div class="tabla_listado_titulo_fila_chico">&nbsp;</div>
          	 
          	<% if gps_inst != nil %>       
              <%= gps_inst.gps_numeric_ident %>  | <%= gps_inst.gps_descriptive_ident  %> | <%= gps_inst.gps_plate_number  %>              
         	  <% end %>
         	  
         	  <% if gps_pos != nil %>
         	      Last Pos: <%= l gps_pos.gps_datetime %>  <%= gps_pos.gps_longitude.to_s %>  <%= gps_pos.gps_latitude.to_s %>
         	  <% end %> 
          </td>  
	     <td><%= link_to image_tag(asset_path ('buttons/view.gif')), vehicle %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_vehicle_path(vehicle) %> &nbsp; <%= link_to(image_tag(asset_path('buttons/delete.gif')),"javascript:list_delete_resource_dialog('" + item_url + "', '" + item_id + "')")  %>  </td> 
        
        </tr>
      <% end %>
    </table>
    
    </td></tr>
    </table>
    
    <br>
    <br>
    Order String : "<%=@order_string%>"
    
      
    <div class="links_listado"><%= link_to 'Volver',  "/welcome/configuration" %></div>


  </div><!-- /content --> 
  
  <script> 
    $("#select_sort").change(function(event) {
      
      event.preventDefault();
      
      // Obtener valor a usar para ordenar
      sort_value=$("#select_sort option:selected").val();
      

      $.mobile.navigate("/vehicles/sort/" + sort_value);
    });
  </script>
  
<% end %> 


     
