
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Tipo de Vehículo" } do %>
   
  <div role="main" class="ui-content">   


  <table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
    <tr>
    <th>Descripción:</th>
    <td><%= @vehicle_type.description %></td>
    </tr>
     <tr>
     	<th>Grupo:</th>
     	<td><%= @vehicle_type.type_group %></td>
     </tr>
     <tr>
    <th>Acoplable:</th>
    <% if @vehicle_type.coupling_support == 1 %>
    <td>Sí</td>
    <% else %>
    <td>No</td>
     <% end %>
    </tr>
    <% if @vehicle_type.couples_to_type %>
    <tr>
    <th>Se acopla a:</th>
    <td> <%= @vehicle_type.couples_to_type.description %> </td>
    </tr>
     <% end %>
    <tr>
       <th>Tipos Acoplados: </th>
    <td> <%= @vehicle_type.couplable_types.map {|ct| ct.description}.join (";  ") %></td>
    </tr>
    
  </table>
   
 
    <div class="links_form"><%= link_to 'Salir', vehicle_types_path, {"data-ajax"=>"false"}%></div> 

  </div> <!-- /content --> 
<% end %> 

