<h1>Listado de Unidades de Medida</h1>

 <%= link_to 'Nueva Unidad de Medida', new_measure_unit_path %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Nombre</th>
    <th>Símbolo</th> 
	<th></th>
  </tr>
 
  <% @measure_units.each do |measure_unit| %>
    <tr class="tabla_listado_fila_contenido">
      <td><%= measure_unit.name %></td>
      <td><%= measure_unit.symbol %></td>
	   <td><%= link_to 'Ver', measure_unit %> &nbsp; <%= link_to 'Editar', edit_measure_unit_path(measure_unit) %> &nbsp; <%= link_to 'Eliminar', measure_unit_path(measure_unit), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
	  <td><%= link_to image_tag(asset_path ('buttons/view.gif')), measure_unit %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_measure_unit_path(measure_unit) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')), measure_unit_path(measure_unit), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
 	
    </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver al Menú Principal', "welcome/index" %></div>