
<%  item_url = m_requested_delivery_path(m_requested_delivery)
    item_id=mobile_item_id(item_url) %>



<div  id="<%= item_id %>" class="titulo_partial_modelo">Indicacion de Entrega</div >

<table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
     <tr>   
  <th>Cantidad:</th>  
	<td> <%=  m_requested_delivery.amount %> </td>
  </tr>
    <tr> 
  <th>Dirección de Entrega:</th>  
	<td> <%=  m_requested_delivery.address.description %> </td>
  </tr>
  <th>Comentarios:</th>  
	<td> <%=  m_requested_delivery.comments %> </td>
  </tr>
  
  <tr>
  <th> </th>
  <td> <div class="links_form"> <%= link_to 'Modificar', edit_m_requested_delivery_path(m_requested_delivery) %> </div> </td>
  <td> <div class="links_form"> <%= link_to 'Eliminar',"javascript:list_delete_resource_dialog('" + item_url + "', '" + item_id + "')"  %></div></td>
  </tr> 
</table>

</div>

