
<% @top_menu_selection="Viajes" %>
<%= render '/common/top_menu' %>

<h1>Viajes</h1>

<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Fecha</th>	
    <th>Nota</th>
	<th>Cliente</th>
    <th>Servicio</th>
    <th>Vehículo<br>Acoplado</th> 
	<th>Chofer</th>
	<th>Estado</th> 
	<th></th>
  </tr>
 
  <% @shipments.each do |shipment| %>
    <tr class="tabla_listado_fila_contenido">
      <td>  <%=l shipment.departure_time, format: :short %></td>
	    <td> <%= shipment.shipping_request.customer_shipping_order.order_number %></td>
      <td> <%= shipment.shipping_request.customer_shipping_order.customer.name %> </td>
      <td> <nobr> <%=  shipment.shipping_request.service.description %></nobr><br>
        <span class="dato_lista_sec"> <%=  shipment.shipping_request.trip.description %> </span></td>	  
     <td><%= shipment.vehicle.number_plate %> <br> <%= shipment.coupled_vehicle.number_plate %></td>
	  <td><%= shipment.driver.first_name + " " + shipment.driver.last_name %> </td> 
	  <td> <%= getShipmentStatusDesc(shipment.status) %> </td> 
	  <td><%= link_to image_tag(asset_path ('buttons/view.gif')), shipment %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_shipment_path(shipment) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')), shipment_path(shipment), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
     </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver al Menú Principal', "welcome/index" %></div>
 


