<body>  
    <div id='<%= page_id %>' data-role="page" class="ui-responsive-panel"> 
        <div data-role="header"> 
            <h2 style="color:green"> <%= page_title %></h2>     
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>  
            <!-- show nav links -->
            <% if current_user %>
                <!-- current_user will return true if a user is logged in -->
                <a href="#<%= page_id %>_user_menu" data-rel="popup"  class="ui-btn ui-icon-user ui-corner-all ui-btn-icon-notext ui-btn-inline">No Text</a>
                <!-- Opciones usuario -->   
                <div data-role="popup" id="<%= page_id %>_user_menu" data-theme="a">
                    <ul data-role="listview" data-inset="true" style="min-width:210px;"> 
                        <li data-role="list-divider"><%= current_user.name %></li>  
                        <li><%=link_to 'Cambiar Contraseña', users_change_password_path, "data-ajax" => :false %></li>  
                        <li><%=link_to 'Cerrar Sesión', signout_path, "data-ajax" => :false %></li>                
                    </ul> 
                </div>      
            <% end %>   
        </div>  <!-- /header -->
       
           
        <%= yield %>  
          
        <%= render "/common/nav_menu" %>
        <%= render "/common/footer_generic" %>
      
    </div> <!-- page -->
    
    <%= render '/common/generic_popup.html.erb'%> 
        
</body>

  
<script>
     
  //  page_id se pasa como variable por parte de las paginas que utilizan este layout
  
  $( document ).on( "pagecreate", <%= page_id  %>, function() {  
      $( "#generic_popup" ).enhanceWithin().popup();
  });
  
  $( document ).on( "pageshow", <%= page_id %>, function() {  
      $( "#generic_popup" ).enhanceWithin().popup();
  });
</script>
 



 
 
