
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Listado de Entregas de Material" } do %> 

  <div role="main" class="ui-content">  

    <table class="tabla_listado" cellpadding=0 cellspacing=0>
      <tr class="tabla_listado_fila_cabezal">
        <th>Viaje</th> 
	    <th>Material</th> 	
	    <th>Cantidad</th> 
	    <th></th>
      </tr>
     
      <% @cargo_categories.each do |cargo_category| %>

        <%  item_url =  **** cargo_category_path(cargo_category)  ****
            item_id=mobile_item_id(item_url) %>
      
	      
		    <tr id="<%= item_id %>" class="tabla_listado_fila_contenido"> 
          <td><%= cargo_category.description %></td> 
	       <td><%= link_to 'Ver', cargo_category %> &nbsp; <%= link_to 'Editar', edit_cargo_category_path(cargo_category) %> &nbsp; <%= link_to 'Eliminar', cargo_category_path(cargo_category), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
	      <td><%= link_to image_tag(asset_path ('buttons/view.gif')), cargo_category %> &nbsp; <%= link_to image_tag(asset_path ('buttons/edit.gif')), edit_cargo_category_path(cargo_category) %> &nbsp; <%= link_to image_tag(asset_path('buttons/delete.gif')),  "javascript:list_delete_resource_dialog('" + item_url + "', '" + item_id + "')"  %> </td>
     	
        </tr>
      <% end %>
    </table>
    
  <div class="links_listado"><%= link_to 'Volver', "welcome/index" %></div> 


  </div><!-- /content --> 
  
<% end %>




