<h1>Ubicaciones</h1>

<%= link_to 'Nueva Ubicación', new_location_path %>
<table class="tabla_listado" cellpadding=0 cellspacing=0>
  <tr class="tabla_listado_fila_cabezal">
    <th>Nombre</th>
	 <th>Departamento</th> 
    <th>Coordenadas</th> 
	<th>Tipo</th> 
	<th></th>
  </tr>
 
  <% @locations.each do |location| %>
    <tr class="tabla_listado_fila_contenido">
     <td><%= location.name %></td>
      <td></td>
      <td><%= location.coords %></td> 
	  <td><% if location.location_type == 1 %>Ciudad<% else %>Lugar<% end %></td> 
	  <td><%= link_to 'Ver', location %> &nbsp; <%= link_to 'Editar', edit_location_path(location) %> &nbsp; <%= link_to 'Eliminar', location_path(location), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
    </tr>
  <% end %>
</table>
<div class="links_listado"><%= link_to 'Volver al Menú Principal', "welcome/index" %></div>
 